<h2 class="title is-2"><%= @company.name%>'s rewards </h2>
<br>


<br>
<ul>
  <% @rewards.each_with_index do |reward, index| %>
    <li><strong>Name: </strong><a href="<%= company_reward_path(current_company.id, reward.id) %>"><%= "#{reward.name}" %></a>
       - <a data-method="DELETE" href="<%= company_reward_path(current_company.id, reward.id) %>">Delete</a></li>
    <br>
  <% end %>
</ul>

<a href="<%= new_company_reward_path(current_company.id) %>" class="row btn" >Add Reward</a>
<br>

<a href="<%= company_path(current_company.id) %>">Back to Company Profile</a>
