<h2 class="title is-2"><%= @branch.name%>`s rewards </h2>
<br>


<ul>
  <% @rewards.each_with_index do |reward, index| %>
    <li><strong>Name: </strong><a href="<%= company_branch_reward_path(current_company.id, @branch.id, reward.id) %>"><%= "#{reward.name}" %></a>
       - <a data-method="DELETE" href="<%= company_branch_reward_path(current_company.id, @branch.id, reward.id) %>">Delete</a></li>
    <br>
  <% end %>
</ul>

<a href="<%= new_company_branch_reward_path(current_company.id, @branch.id) %>" class="row btn" >Add Reward</a>
<br>

<a href="<%= company_branch_path(current_company.id, @branch.id) %>">Back to Branch</a>
