<section class="user_background">

  <div class="user_info row">
    <div class="col-md-12">
      <h2 class="salute">Welcome <%= current_user.name %>!</h2>
      <h5 class="message"></h5>
      <div class="col-md-6 img-circle">
        <%= image_tag current_user.avatar.url(:medium) %>
      </div>
      <div class="col-md-6 row statistics1 font_2">
        <div class="kms col-md-3">
            <h4 class="kms_counter col-md-12"><%= current_user.kms.length == 0 ? 0 : current_user.kms[0].sinparun_kms %></h4><h4>SP kms</h4>
        </div>
        <div class="level col-md-3 col-md-offset-1">
          <span class="level_box">
            <h4 class="total_kms_counter col-md-12"><%= current_user.kms.length == 0 ? 0 : current_user.kms[0].total_kms %></h4><h4>total kms</h4>
          <h4 class="col-md-12">Level</h4><h4 class="level_counter"><%= current_user.kms.length == 0 ? 0 : current_user.kms[0].level %></h4>
          </span>
        </div>
        <div class="races col-md-3 col-md-offset-1">
          <h4 class="races_counter col-md-12"><%= current_user.kms.length == 0 ? 0 : current_user.kms[0].races %></h4><h4>races</h4>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <span><a href="<%= user_coupons_path(current_user) %>" class="waves-effect waves-light btn">My Coupons</a></span>
        <a href="<%= users_rewards_path(current_user) %>" class="waves-effect waves-light btn">Rewards list</a>
      </div>
      <div class="col-md-6">
        <h4 class="sync_label">Syncronize your kms</h4>
        <button class="js-btn-runkeeper waves-effect waves-light" type="button" name="button">
          <img src="/images/nike_logo.jpg" alt="" />
        </button>
      </div>
    </div>
  </div>

  <div class="rewards_for_users row">
    <div class="col-md-12">
      <div class="col-md-6">
          <a href="<%= users_rewards_map_path(current_user) %>" class="btn-rewards_map waves-effect waves-light btn">Rewards map</a>
      </div>
      <div class="col-md-6">
        render algo
      </div>
    </div>
  </div>

    <!-- <div class="row">
      <div class="col-md-12 syncronize">
        <h4>Syncronize your kms</h4>
        <button class="js-btn-runkeeper waves-effect waves-light" type="button" name="button">
          <img src="/images/runkeeper_icon.png" alt="" />
        </button>
        <button class="nikerunning waves-effect waves-light" type="button" name="button">
          <img src="http://a5.mzstatic.com/eu/r30/Purple2/v4/19/85/13/19851378-4878-501d-41b9-ed464cf08a9c/icon175x175.png" alt="" />
        </button>
        <button class="endomondo waves-effect waves-light" type="button" name="button">
          <img src="http://4wod.com/wp-content/uploads/2014/04/Endomondo-logo-1-300x300.jpg" alt="" />
        </button>
        <button class="sportstracker waves-effect waves-light" type="button" name="button">
          <img src="http://imagenes.es.sftcdn.net/es/scrn/3336000/3336628/sports-tracker-02-535x535.png" alt="" />
        </button>
        <button class="runtastic waves-effect waves-light" type="button" name="button">
          <img src="http://imagenes.es.sftcdn.net/es/scrn/6652000/6652827/runtastic-10-535x535.png" alt="" />
        </button>
        <button class="tomtom waves-effect waves-light" type="button" name="button">
          <img src="https://lh5.ggpht.com/YcKHqjEx4XLqcv1jhubgp9-6XVY2AZQHjwR3sFdkQX2oAQeQQ1KF85rLJc7Z-RxC2w" alt="" />
        </button>
      </div>
    </div> -->
