
<% if @company.errors.any? %>
  <ul class="notification is-danger">
    <button class="delete"></button>
    <% @company.errors.full_messages.each do |error| %>
     <li><%= error %> </li>
    <% end %>
  </ul>
<% end%>


<%= form_for [@company] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, size: 10, required:'' %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email, size: 10, required:'' %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password, size: 10, required:'' %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, size: 10, required:'' %>
  <br>

  <%= f.submit 'Save' %>

<% end %>
