<section class="company_background">

<h2 class="salute"><%= current_company.name %> Company </h2>

<div class="row">

  <section class="col-md-12 statistics2 font_2">
    <ul>
      <% @branches.each_with_index do |branch, index| %>
        <li> <strong>Name:</strong> <%= "#{branch.name}" %></li>
        <li> <strong>Address:</strong> <%= "#{branch.address}" %></li>
        <li><a href="<%= company_branch_path(current_company.id, branch.id) %>">Show</a>
          - <a data-method="DELETE" href="<%= company_branch_path(current_company.id, branch.id) %>">Delete</a>
        </li>

        <br>
      <% end %>
    </ul>
  </section>
  <br>
    <span><a href="<%= new_company_branch_path(current_company.id) %>" class="btn">Add Branch</a></span>
  <br>

</div>

</section>
